*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 3rem; }

html {
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    opacity: 80%;
    transform: translateX(2rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    opacity: 80%;
    transform: translateX(-2rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInOut {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  50% {
    opacity: 80%;
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  100% { } }

@keyframes changeColor {
  0% {
    transform: translate(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* animation */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4rem;
    padding-left: 2.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.3rem; }
  .heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    animation-name: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-out; }

.heading-secondary {
  text-transform: uppercase; }
  .heading-secondary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, #636fa4, #636fa4);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s; }
    .heading-secondary--main:hover {
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.65rem;
    line-height: 2;
    color: #636fa4; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #636fa4; }

.paragraph {
  font-size: 1.6rem;
  color: #636fa4; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.btn:link, .btn:visited {
  animation-timing-function: ease-out;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.5s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #fff; }

.btn--animated {
  animation-name: moveInOut;
  animation-duration: 5s; }

.btn-text:link, .btn-text:visited {
  color: #636fa4;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #636fa4;
  padding: 3px;
  transition: all 1s; }

.btn-text:hover {
  background-color: #636fa4;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  background-color: #636fa4;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px); }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.7s;
    outline-offset: 2rem; }
    .composition_photo--p1 {
      top: 0;
      left: -2rem; }
    .composition_photo--p2 {
      top: 2rem;
      right: 0; }
    .composition_photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition_photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 1;
      outline: 1.5rem solid rgba(99, 111, 164, 0.4); }

.header {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__bgimage {
    background: url(../img/change.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: top; }
    .header__bgimage--blur::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
      z-index: -1;
      filter: blur(4px); }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -61.8%);
    text-align: center; }
  .header__logo {
    height: 3.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    clear: both;
    display: block; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (100% - 6rem * 2) / 3 * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( (100% - 6rem * 3) / 4 * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( (100% - 6rem * 3) / 4 * 3 + 6rem * 2); }
