.feature-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-white, 0.15);
    transition: all 1s;

    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        color: $color-white;
    }

    &__heading {
        color: $color-white;
    }

    &__text {
        color: $color-white;
    }

    &:hover {
        transform: translateY(-2rem) scale(1.1);
        background-color: rgba($color-black, 0.4);
    }
}
