@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 80%;
        transform: translateX(2rem);
    }
    100% {
        opacity: 100%;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    50% {
        opacity: 80%;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 100%;
        transform: translate(0);
    }
}

@keyframes moveInOut {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    50% {
        opacity: 80%;
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    100% {
    }
}

@keyframes changeColor {
    0% {
        transform: translate(-1rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
}
