// rererse inherite box-sizing
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem;
}

// set root font size
html {
    // defines what 1rem is
    font-size: 62.5%; // 62.5% * 16px = 10px
}
