body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 4rem;
        padding-left: 2.5rem;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
    }

    /* animation */
    &--main {
        animation-name: moveInLeft;
        animation-duration: 5s;
        animation-timing-function: ease-out;
    }
    &--sub {
        animation-name: moveInRight;
        animation-duration: 5s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary {
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        margin-bottom: 2rem;
        background: linear-gradient(to top, #355b7d89, #6c5b7b, #c06c84);
        -webkit-background-clip: text;
        color: transparent;
        transition: all 1s;

        &:hover {
            transform: /* skewX(10deg) skewY(10deg) */ scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
        }
    }

    &--sub {
        display: block;
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 0.65rem;
        line-height: 2;
        color: $color-grey-light;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
